body, html {
    height: 100%;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    text-align: center;
    color: white;
    background-image: url('backg.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    padding-top: 50px;
}

h1 {
    font-size: 50px;
    margin-bottom: 50px;
}

.food-items a {
    display: inline-block;
    margin: 10px;
    transition: transform 0.3s;
}
.food-items h3{
    color: aliceblue;
}

.food-items a img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: 2px solid white;
}

.food-items a:hover {
    transform: scale(1.1);
}
